package main

import "github.com/localrivet/templwind/appheader"

templ Index() {
	<html>
		<head>
			<title>Index</title>
		</head>
		<body>
			@appheader.New(
				appheader.WithTitle("Home Page"),
			)
		</body>
	</html>
}
